<mat-dialog-content>
  <div id="contents">
    <h1>About Me <img src="assets/robot.png"></h1>
    <p>I currently am a student at Kent State University studying Computer Science. </p>
    <p>I have had four internships over my collegiate career with companies including Allied Machine & Engineering and American Greetings. </p>
    <p>My GPA is 3.6 </p>
    <p>I am president of Kent State's on-campus coding club, Hacksu</p>
    <p>I was one of the main organizers of Kent Hack Enough, which is a hackathon held at Kent State</p>
    <p>My graduation date is December 2020 </p>
    <button mat-button [mat-dialog-close]="true" id="Cancel">Cancel</button>
  </div>
</mat-dialog-content>
