<mat-dialog-content>
  <h1> Coding Projects  <img src="assets/html.png"></h1>
  <p> Over the past 3 and a half years, I have worked on a variety of projects to help gain more experience with programming. 
    I have spend time increasing my computer science skills with class work, internship opportunities, and personal projects from my work with Hacksu, the on-campus coding club at Kent State University.
    All most all of my projects are saved on GitHub. 
  </p>
  <div id="container">
    <div id="classWork">
      <h2> Class Work</h2>
      <p>BitBook</p>
      <p>Codefucius</p>
      <p>KentEvent</p>
    </div>
    <div id="hacksu">
      <h2>Hacksu</h2>
      <p> HTML, CSS, JavaScript Lesson</p>
      <p> CSS Art</p>
      <p> Fitness Enthusiast </p>
    </div>
    <div id="intern">
      <h2> Internship Involvement</h2>
        <p> Python Development</p>
        <p> Django Project</p>
        <p> Maintaing Websites</p>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button [mat-dialog-close]="true" id="Cancel">Cancel</button>
</mat-dialog-actions>