<nav class="navbar navbar-expand-lg">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link"><img src="assets/logo.png" id="logo"></a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" (click)="openAbout()">About Me</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="openResume()">Resume</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="openCoding()">Coding Projects</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://github.com/Elizabeth1998"><img src="/assets/GitHub-Mark-Light-32px.png"></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://www.linkedin.com/in/elizabeth-hutchison-881731148/"><img src="/assets/LinkedIn-Logo.png"></a>
      </li>
    </ul>
  </div>
</nav>
<!--
<header>
  <div class="container">
    <nav class="navbar navbar-dark bg-dark">
      <mat-toolbar>
          <mat-toolbar-row>
            <a href="/about">About Me</a>
            <span class="header"></span>
            <a href="/resume">Resume</a>
            <span class="header"></span>
            <a href="/code">Coding Projects</a>
            <span class="header"></span>
            <a href="https://github.com/Elizabeth1998">GitHub</a>
            <span class="header"></span>
            <a href="https://www.linkedin.com/in/elizabeth-hutchison-881731148/">LinkedIn</a>
          </mat-toolbar-row>
        </mat-toolbar>
    </nav>
  </div>
</header>
-->