<mat-dialog-content>
    <h1> Resume <img src="/assets/laptop.png"></h1>
    <div id="contents">
        <div id="experience">
            <h2>Experience</h2>
            <p>
                June 2019 – August 2019<br>
                <b>Web Development Intern • American Greetings • Cleveland, OH</b><br>
                Worked on maintaining company websites, along with adding a new feature that allowed for the consumer to search the product at a new level
            </p>
            <p>
                October 2018– January 2020<br>
                <b>Part Time Software Development Intern • LogixLabs • Akron, OH</b><br>
                Worked on maintaining company websites, along with adding a new feature that allowed for the consumer to search the product at a new level
            </p>
            <p>
                August 2018– October 2018<br>
                <b>Tech2You Student Leader • Kent State University  • Kent, OH</b><br>
                Worked on maintaining company websites, along with adding a new feature that allowed for the consumer to search the product at a new level
            </p> 
            <p>
                May 2018 - August 2018<br>
                <b>Information Technology Intern • Allied Machine & Engineering  • Dover, OH</b><br>
                Worked on SQL and workflow development, database structures, and Visual Basic C# form creation
            </p>
        </div>
        <div id="education">
            <h2>Education</h2>
            <p>
                Kent State University • Bachelor of Science in Computer Science  • Kent, OH 
                December 2020
            </p>
        </div>
        <div id="skills">
            <h2>Skills</h2>
            <p>
                <b>Proficient Programming Languages & Frameworks :</b><br>
                Python,
                C++,
                HTML 5,
                CSS,
                Angular<br>

                <b>Familiar Programming Languages :</b><br>
                JavaScript,
                mySQL<br>

                <b>Other Skills :</b><br>
                Microsoft Office,
                Minitab Certification 

            </p>
        </div>
    </div>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button [mat-dialog-close]="true" id="Cancel">Cancel</button>
  </mat-dialog-actions>